*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    
}
header{
    padding:100px 60px;
    background-color:#1d202f;
    text-align: center;
    
}
header h1{
    color: lightskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:5em;
    letter-spacing: 2px;
    padding: 10px;
}
 p {
    color: aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    padding: 10px;
    font-size: 2em;
    font-weight: 200;
}
nav{
    display:flex;
    justify-content: center;
    gap:5em;
    padding: 10px;
    flex-wrap: wrap;
}
a{
    border: 1px;
    width:200px;
    padding: 10px 5px;
    color: aliceblue;
    letter-spacing: 2px;
    font-size:2em;
    font-weight: 300;
    text-decoration: none;
    border-radius: 25px;
    background-color: #4b4c53;

}
a:hover{
    background-color:lightskyblue;
    border:1px;
    box-shadow: 0 2px 2px lightskyblue;
}
.intro{
    border:1px solid rgb(200, 209, 218);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding:80px 20px;
}
.intro h2{
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    border-left: 10px solid skyblue;
    padding:30px 10px;
    display: flex;
    justify-content:left;
    margin: 30px;
}
figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:30px 20px;
}
figure img{
    width:400px;
    border:5px solid rgb(42, 182, 237);
    border-radius: 100%;
    margin:10px;
}
figcaption{
    font-size: 30px;
    font-style: italic;
    color: dimgray;
}
.intro p{
    font-size:20px;
    border:2px solid white;
    color: black;
    text-align: center;
    padding: 20px 10px;
    margin:2%;
    background-color: rgb(245, 245, 248);
    border-radius: 20px;
}
.projects{
    border: 1px solid  rgb(200, 209, 218);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding:80px 20px;
}
.projects h2{
     font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    border-left: 10px solid skyblue;
    padding:35px 10px;
    display: flex;
    justify-content:left;
    margin: 25px;

}
#portfolio{
    border:1px solid rgb(200, 209, 218);
    padding:20px 5px;
    border-radius: 20px;
    margin: 5%;
}
#portfolio h3{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 5px;
    letter-spacing: 2px;

}
#portfolio p{
    font-size: 25px;
    padding:10px 5px;
    color: rgb(136, 137, 139);
    margin: 2%;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-weight: 200; */
}
article a {
    padding:10px 5px;
    margin: 3%;
    font-size: 20px;
    border:1px solid;
    border-radius: 10px;
    background-color: rgb(9, 114, 179);

}
#todo{
    border:1px solid rgb(200, 209, 218);
    padding:20px 5px;
    border-radius: 20px;
    margin: 5%;
}
#todo h3{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 5px;
    letter-spacing: 2px;
}
#todo p{
    font-size: 25px;
    padding:10px 5px;
    color: rgb(136, 137, 139);
    margin: 2%;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    /* font-weight: 200; */
}
#skills{
border:1px solid rgb(219, 215, 215);
padding:20px 5px;
    border-radius: 20px;
    margin: 5%;
}
#skills h3{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 10px 5px;
    letter-spacing: 2px;
}
#skills ul{
    display: flex;
    gap: 20px;
    list-style: none;
    padding: 20px 10px;
    /* border:1px solid skyblue; */
}
#skills ul li{
    border:1px solid skyblue;
    padding:15px 20px;
    border-radius: 30px;
    background-color: rgb(171, 252, 252);
    color: rgb(4, 4, 106);
    font-weight:800;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
}
.video{
     border:1px solid rgb(200, 209, 218);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding:60px 20px;
    
}
.video h2 {
    text-align: center;
    border-left: 5px solid rgb(3, 240, 240);
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.video figure video{
    width:50vw;
    height: 50vw;
    border:1px solid gray;
    border-radius: 20px;
}
footer{
      border:1px solid rgb(200, 209, 218);
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    padding:60px 20px;
    background-color:#1d202f;
}
footer h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
padding:20px  10px;
margin:2%;
color: white;
border-left: 5px solid lightskyblue;
}
footer form{
    padding:20px 10px;
   
}
.email{
    font-size: 30px;
    color: white;
}
footer a {
    background-color:#1d202f;
}
.box{
    width:70vw;
    height:5vw;
    border-radius:10px;
    background-color:#4b4c53;
}
.text{
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
